[Unit]
Description=Mount LOGS partition
After=local-fs.target

[Service]
Type=oneshot
EnvironmentFile=/etc/default/mount-logs
ExecStart=/home/nikita/lab/mount_logs.sh ${DEVICE} ${MOUNTDIR}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
